.database {
    background-image: url(../assets/images/bio_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    &__title {
        padding-top: 80px;
        text-align: center;
        h1 {
            display: inline-block;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                height: 3px;
                width: 80%;
                left: calc(50% - 40%);
                background: #c7c719;
            }
        }
    }
    &__searchBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 20px 0;
    }
    &__searchBoxWrapper {
        display: flex;
        justify-content: center;
        input {
            width: 65%;
            height: 25px;
            margin-right: 5px;
            margin-bottom: 10px;
            border-radius: 4px;
            padding-left: 20px;
        }
        button {
            height: 25px;
            width: 80px;
            border-radius: 4px;
            background-color: rgb(235, 235, 5);
            font-family: TitilliumWeb-Bold;
        }
    }
    &__searchResult {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__titleWrapper {
        display: flex;
    }
    &__itemTitle {
        width: 25%;
        display: flex;
        justify-content: center;
    }
    &__contentWrapper {
        display: flex;
    }
    &__content {
        width: 25%;
        height: 30px;
        font-size: 0.7rem;
        margin: 5px 0;
        border: 0.05rem solid white;
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(76, 58, 58, 0.5);
    }
    &__content:nth-last-child(1) {
        border-right: 0.05rem solid white;
    }
}