.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    margin: auto 10px;
    position: fixed;
    top: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 0.6px;
    background: $white;
}