@font-face {
    font-family: "NanumPenScript-Regular";
    src: url("../assets/fonts/NanumPenScript-Regular/NanumPenScript-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PermanentMarker-Regular";
    src: url("../assets/fonts/PermanentMarker-Regular/PermanentMarker-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb-Light";
    src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TitilliumWeb-Bold";
    src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
}