.footer {
    height: 200px;
    background-color: #fafafa;
    text-align: center;
    margin: 0 auto 0 auto;
    line-height: 2rem;
    P {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    &__social {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            height: 30px;
            margin: 15px;
        }
    }
}

.footer-wrapper {
    width: 220px;
    margin: 0 auto;
    padding-top: 30px;
}

.footer-qq {
    display: none;
}

// tablet version
@include tablet {
    .footer {
        text-align: left;
        &__social {
            width: 150px;
            align-items: center;
            img {
                height: 40px;
                // margin: 15px;
            }
        }
        &__content {
            width: 300px;
        }
    }
    .footer-qq {
        display: inline-block;
    }
    .footer-wrapper {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-qq {
        img {
            width: 100px;
        }
    }
}