.nav-bar {
    // background-color: #1e1e1e;
    background-color: #000000;
    // background-image: linear-gradient(100deg, #000000 100, #414141 74%);
    height: 50px;
    &__menu {
        display: none;
    }
    &__logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo img {
        width: 80px;
        z-index: 300;
    }
}