.side-drawer {
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    transform: translateY(-150%);
    transition: transform 0.3s ease-out;
    &__menu {
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 70px;
        margin-left: 30px;
    }
    &__menu li {
        margin-bottom: 15px;
        font-size: 1rem;
        //display: flex;
    }
    &__svg {
        width: 15px;
        margin-right: 10px;
    }
    &__social {
        display: flex;
        justify-content: center;
    }
    &__svg--social {
        height: 30px;
        margin: 0 15px;
    }
}

.open {
    transform: translateY(0);
}

.side-drawer li:hover,
.side-drawer li:active,
.side-drawer a:hover,
.side-drawer a:active {
    color: $mainYellow;
}

// tablet version
// @include tabletSideBar {
//     .side-drawer {
//         transform: translateX(-110%);
//     }
//     .open {
//         transform: translateX(0);
//     }
// }