.staffs {
    // background-image: url(../assets/images/bio_3.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 50px;
    color: $white;
    &__logo {
        display: flex;
        justify-content: center;
        img {
            width: 200px;
            height: 89px;
        }
    }
    &__title {
        padding-top: 20px;
        text-align: center;
        position: relative;
        h1 {
            display: inline-block;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                height: 3px;
                width: 80%;
                left: calc(50% - 40%);
                background: $underlineColor;
            }
        }
    }
    &__titleCont {
        width: 80%;
        max-width: 1080px;
        margin: 25px auto;
        line-height: 1.2rem;
        p {
            line-height: 1.3rem;
        }
    }
}

// #staffs_admin__uvIcon {
//     left: 40px;
//     bottom: 2px;
// }
.staffs-admin {
    &__titleWrapper {
        text-align: center;
        img {
            width: 25px;
            margin-right: 10px;
        }
        h2 {
            display: inline-block;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                height: 3px;
                width: 90%;
                left: calc(50% - 45%);
                background: $underlineColor;
            }
        }
    }
    &__titleCont {
        width: 80%;
        max-width: 1080px;
        margin: 25px auto;
        line-height: 1.3rem;
    }
    &__admCard {
        width: 256px;
        text-align: center;
        margin: 50px 50px;
        img {
            width: 180px;
        }
    }
    &__title {
        margin-top: 15px;
    }
    &__titleSub {
        color: $mainYellow;
    }
    &__admIntro {
        text-align: left;
        line-height: 1.3rem;
        margin-top: 10px;
    }
}

.adminCard-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}