html,
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: TitilliumWeb-Regular;
  font-size: 16px;
  color: #323232;
  height: 100%;
}

Link {
  color: #ffffff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a:link,
a:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a,
li {
  color: white;
}

input,
input:focus,
textarea,
textarea:focus,
button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #323232;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #323232;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #323232;
}

input::placeholder,
textarea::placeholder {
  color: #323232;
}

@font-face {
  font-family: "NanumPenScript-Regular";
  src: url("../assets/fonts/NanumPenScript-Regular/NanumPenScript-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PermanentMarker-Regular";
  src: url("../assets/fonts/PermanentMarker-Regular/PermanentMarker-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
}

.nav-bar {
  background-color: #000000;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 300;
  top: 0;
}

.nav-bar__menu {
  display: none;
}

.nav-bar__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__logo img {
  width: 80px;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30px;
  height: 20px;
  margin: auto 10px;
  position: fixed;
  top: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 20px;
  height: 0.5px;
  background: #e4dfdf;
}

.side-drawer {
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  z-index: 200;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.side-drawer__menu {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-left: 30px;
}

.side-drawer__menu li {
  margin-bottom: 15px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-drawer__svg {
  width: 15px;
  margin-right: 10px;
}

.side-drawer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-drawer__svg--social {
  height: 30px;
  margin: 0 15px;
}

.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.side-drawer li:hover,
.side-drawer li:active {
  color: #fa923f;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.main__hero {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  height: 400px;
  background-image: url("../assets/images/hero.png");
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: 50% 145%;
  color: #e4dfdf;
  margin-top: 50px;
}

.main__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__hero P {
  font-size: 1rem;
}

.main__time {
  font-size: 2rem;
  padding: 2px 10px;
}

.main__intro {
  font-size: 0.8rem;
  width: 80%;
  line-height: 1.5rem;
  text-align: center;
}

.main .news {
  font-family: PermanentMarker-Regular;
  height: 480px;
  margin: 15px auto;
  background-color: #fafafa;
  cursor: pointer;
  color: black;
}

.main .news__title {
  text-align: center;
  margin-bottom: 15px;
}

.main .news__title h1 {
  padding-top: 15px;
  display: inline-block;
  position: relative;
}

.main .news__title h1:after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 30%;
  left: calc(50% - 15%);
  background: #c7c719;
}

.main .news__cover img {
  width: 100%;
}

.main .news__sub {
  text-align: center;
}

.main .news__pn {
  font-size: 2rem;
  color: #c7c719;
}

.main .server-intro {
  height: 390px;
  background-color: #fafafa;
  text-align: center;
}

.main .server-intro__title {
  font-family: TitilliumWeb-Bold;
  line-height: 2rem;
  display: inline-block;
  position: relative;
  padding-top: 15px;
}

.main .server-intro__title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 30%;
  left: calc(50% - 15%);
  background: #c7c719;
}

.main .server-intro__discription {
  width: 80%;
  margin: 20px auto;
  font-size: 1.1rem;
}

.main .monthly-stat {
  height: 640px;
  background-color: #fafafa;
  text-align: center;
  margin: 15px 0;
}

.main .monthly-stat__title {
  font-family: TitilliumWeb-Bold;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 2rem;
  position: relative;
  padding-top: 15px;
}

.main .monthly-stat__title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 30%;
  left: calc(50% - 15%);
  background: #c7c719;
}

.main .monthly-stat__card {
  margin: 30px 0;
}

.main .monthly-stat__card img {
  height: 45px;
}

.main .testimonials {
  height: 350px;
  background-color: #fafafa;
  text-align: center;
  margin: 15px 0;
}

.main .testimonials__title {
  font-family: TitilliumWeb-Bold;
  line-height: 2rem;
  display: inline-block;
  position: relative;
  padding-top: 15px;
}

.main .testimonials__title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 30%;
  left: calc(50% - 15%);
  background: #c7c719;
}

.main .testimonials__card {
  margin: 30px;
}

.main .testimonials__disc {
  width: 220px;
  margin: 10px auto;
}

.main .testimonials__quote:before {
  content: "";
  background: url(../assets/icons/quote-left-solid.svg) no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.main .testimonials__quote:after {
  content: "";
  background: url(../assets/icons/quote-right-solid.svg) no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
}

.footer {
  height: 200px;
  background-color: #fafafa;
  text-align: center;
  margin: 0 auto 0 auto;
  line-height: 2rem;
}

.footer P {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.footer__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social img {
  height: 30px;
  margin: 15px;
}

.footer-wrapper {
  width: 220px;
  margin: 0 auto;
  padding-top: 30px;
}

.database {
  background-image: url(../assets/images/bio_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  color: white;
  padding-bottom: 30px;
}

.database__title {
  padding-top: 80px;
  text-align: center;
  position: relative;
}

.database__title h1 {
  display: inline-block;
  position: relative;
}

.database__title h1:after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 80%;
  left: calc(50% - 40%);
  background: #c7c719;
}

.database__title img {
  width: 20px;
  position: absolute;
  left: 25px;
  bottom: 10px;
}

.database__searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.database__searchBoxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.database__searchBoxWrapper input {
  width: 65%;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-left: 20px;
}

.database__subBtn {
  height: 25px;
  width: 80px;
  border-radius: 4px;
  background-color: #ebeb05;
  font-family: TitilliumWeb-Bold;
}

.database__searchResult {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.database__titleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.database__itemTitle {
  width: 90%;
  margin: 0 auto;
  border: 0.05rem solid white;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
}

.searchMonster-result__property {
  border-radius: 4px;
}

table {
  width: 90%;
  max-width: 500px;
  margin: 15px auto 0 auto;
  background-color: rgba(93, 93, 93, 0.5);
}

table,
td,
th {
  border: 0.05rem solid white;
  border-collapse: collapse;
  font-size: 0.8rem;
}

th {
  text-align: center;
}

td {
  padding: 2px 10px;
}

caption {
  font-family: TitilliumWeb-Bold;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */