html,
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: TitilliumWeb-Regular;
  font-size: 16px;
  color: #323232;
  height: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

Link {
  color: #ffffff;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a:link,
a:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a,
li {
  color: white;
}

input,
input:focus,
textarea,
textarea:focus,
button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #323232;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #323232;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #323232;
}

input::placeholder,
textarea::placeholder {
  color: #323232;
}

@font-face {
  font-family: "NanumPenScript-Regular";
  src: url("../assets/fonts/NanumPenScript-Regular/NanumPenScript-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PermanentMarker-Regular";
  src: url("../assets/fonts/PermanentMarker-Regular/PermanentMarker-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Light";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
}

.nav-bar {
  background-color: #000000;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 300;
  top: 0;
}

.nav-bar__menu {
  display: none;
}

.nav-bar__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar__logo img {
  width: 80px;
}

.nav-bar__clock {
  display: none;
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .nav-bar {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-bar__subMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .nav-bar__subMenu li {
    margin: 5px 0;
  }
  .nav-bar__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 30px;
    margin-right: 30px;
  }
  .nav-bar__clock {
    display: inline-block;
    font-size: 1.4rem;
    color: #ffffff;
    position: absolute;
    right: 20px;
  }
}

/* show submenu on hover*/
.nav-bar__menu li:hover > .nav-bar__subMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slideup 0.5s ease;
          animation: slideup 0.5s ease;
}

/* Animation Keyframes */
@-webkit-keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30px;
  height: 20px;
  margin: auto 10px;
  position: fixed;
  top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 20px;
  height: 0.5px;
  background: #e4dfdf;
}

@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }
}

.side-drawer {
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  z-index: 200;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.side-drawer__menu {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-left: 30px;
}

.side-drawer__menu li {
  margin-bottom: 15px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-drawer__svg {
  width: 15px;
  margin-right: 10px;
}

.side-drawer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-drawer__svg--social {
  height: 30px;
  margin: 0 15px;
}

.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.side-drawer li:hover,
.side-drawer li:active {
  color: #fa923f;
}

@media (min-width: 321px) {
  .side-drawer {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  .open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.main__hero {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  height: 400px;
  background-image: url("../assets/images/hero.png");
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: 50% 145%;
  color: #e4dfdf;
  margin-top: 50px;
}

.main__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__hero P {
  font-size: 1rem;
}

.main__time {
  font-size: 2rem;
  padding: 2px 10px;
}

.main__intro {
  font-size: 0.8rem;
  width: 80%;
  line-height: 1.5rem;
  text-align: center;
}

.main .news {
  font-family: PermanentMarker-Regular;
  width: 100%;
  height: 510px;
  margin: 15px auto;
  background-color: #fafafa;
  color: black;
}

.main .news__patchCard {
  color: #323232;
  width: 300px;
  height: 400px;
  border: 0.05rem solid black;
  border-radius: 10px;
  margin: 0 5px;
}

.main .news__patchCardWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .news__title {
  text-align: center;
  margin-bottom: 15px;
}

.main .news__title h1 {
  padding-top: 15px;
  display: inline-block;
  position: relative;
}

.main .news__title h1:after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 30%;
  left: calc(50% - 15%);
  background: #c7c719;
}

.main .news__cover img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.main .news__sub {
  text-align: center;
}

.main .news__pn {
  font-size: 2rem;
  color: #c7c719;
}

.main .server-intro {
  height: 390px;
  background-color: #fafafa;
  text-align: center;
  margin-bottom: 15px;
}

.main .server-intro__title {
  font-family: TitilliumWeb-Bold;
  line-height: 2rem;
  display: inline-block;
  position: relative;
  padding-top: 15px;
}

.main .server-intro__title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 30%;
  left: calc(50% - 15%);
  background: #c7c719;
}

.main .server-intro__discription {
  width: 80%;
  margin: 20px auto;
  font-size: 1.1rem;
}

.main .monthly-stat {
  background-color: #fafafa;
  text-align: center;
  padding-bottom: 50px;
}

.main .monthly-stat__title {
  font-family: TitilliumWeb-Bold;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 2rem;
  position: relative;
  padding-top: 15px;
}

.main .monthly-stat__title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 30%;
  left: calc(50% - 15%);
  background: #c7c719;
}

.main .monthly-stat__card {
  margin: 30px 0;
}

.main .monthly-stat__card img {
  height: 45px;
}

.main .testimonials {
  height: 350px;
  background-color: #fafafa;
  text-align: center;
  padding: 30px 0;
}

.main .testimonials__title {
  font-family: TitilliumWeb-Bold;
  line-height: 2rem;
  display: inline-block;
  position: relative;
  padding-top: 15px;
}

.main .testimonials__title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 30%;
  left: calc(50% - 15%);
  background: #c7c719;
}

.main .testimonials__card {
  margin: 30px;
}

.main .testimonials__disc {
  width: 220px;
  margin: 10px auto;
}

.main .testimonials__quote:before {
  content: "";
  background: url(../assets/icons/quote-left-solid.svg) no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.main .testimonials__quote:after {
  content: "";
  background: url(../assets/icons/quote-right-solid.svg) no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .yellow {
    color: #e0e000;
  }
  .main__hero {
    background-image: url("../assets/images/tablet_hero.png");
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: 50% 160px;
  }
  .main__time {
    display: none;
  }
  .main__intro {
    width: 540px;
    margin-top: 20px;
  }
  .main__intro p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-family: TitilliumWeb-Light;
  }
  .tabletWrapper-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .server-intro {
    width: 50%;
    margin-right: 3px;
    background-image: url("../assets/images/spore_sd2.png"), url("../assets/images/dokebi_sd2.png");
    background-size: 120px, 140px;
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left bottom;
  }
  .monthly-stat {
    width: 50%;
    height: 390px;
    margin: 0 auto;
    height: 390px;
    background-color: #fafafa;
    background-image: url("../assets/images/cat.png");
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 50% 230px;
    text-align: center;
  }
  .monthly-stat__cardWrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .monthly-stat__card {
    padding: 0 10px;
  }
  .monthly-stat__card img {
    width: 30px;
  }
}

.footer {
  height: 200px;
  background-color: #fafafa;
  text-align: center;
  margin: 0 auto 0 auto;
  line-height: 2rem;
}

.footer P {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.footer__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social img {
  height: 30px;
  margin: 15px;
}

.footer-wrapper {
  width: 220px;
  margin: 0 auto;
  padding-top: 30px;
}

.footer-qq {
  display: none;
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer__social {
    width: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__social img {
    height: 40px;
  }
  .footer__content {
    width: 300px;
  }
  .footer-qq {
    display: inline-block;
  }
  .footer-wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-qq img {
    width: 100px;
  }
}

.database {
  background-image: url(../assets/images/bio_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  color: white;
  padding-bottom: 30px;
}

.database__title {
  padding-top: 80px;
  text-align: center;
  position: relative;
}

.database__title h1 {
  display: inline-block;
  position: relative;
}

.database__title h1:after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 80%;
  left: calc(50% - 40%);
  background: #c7c719;
}

.database__title img {
  width: 20px;
  position: absolute;
  left: 25px;
  bottom: 10px;
}

.database__searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.database__searchBoxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.database__searchBoxWrapper input {
  width: 65%;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-left: 20px;
}

.database__subBtn {
  height: 25px;
  width: 80px;
  border-radius: 4px;
  background-color: #ebeb05;
  font-family: TitilliumWeb-Bold;
}

.database__searchResult {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.database__titleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.database__itemTitle {
  width: 90%;
  margin: 0 auto;
  border: 0.05rem solid white;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
}

.searchMonster-result__property {
  border-radius: 4px;
}

table {
  width: 90%;
  max-width: 500px;
  margin: 15px auto 0 auto;
  background-color: rgba(93, 93, 93, 0.5);
}

table,
td,
th {
  border: 0.05rem solid white;
  border-collapse: collapse;
  font-size: 0.8rem;
}

th {
  text-align: center;
}

td {
  padding: 2px 10px;
}

caption {
  font-family: TitilliumWeb-Bold;
  font-size: 1rem;
}

.staffs {
  background-image: url(../assets/images/bio_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #ffffff;
}

.staffs__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staffs__logo img {
  width: 200px;
}

.staffs__title {
  padding-top: 20px;
  text-align: center;
  position: relative;
}

.staffs__title h1 {
  display: inline-block;
  position: relative;
}

.staffs__title h1:after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 80%;
  left: calc(50% - 40%);
  background: #c7c719;
}

.staffs__titleCont {
  width: 80%;
  max-width: 1080px;
  margin: 25px auto;
  line-height: 1.2rem;
}

.staffs__titleCont p {
  line-height: 1.3rem;
}

.staffs-admin__titleWrapper {
  text-align: center;
}

.staffs-admin__titleWrapper img {
  width: 25px;
  margin-right: 10px;
}

.staffs-admin__titleWrapper h2 {
  display: inline-block;
  position: relative;
}

.staffs-admin__titleWrapper h2:after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 90%;
  left: calc(50% - 45%);
  background: #c7c719;
}

.staffs-admin__titleCont {
  width: 80%;
  max-width: 1080px;
  margin: 25px auto;
  line-height: 1.3rem;
}

.staffs-admin__admCard {
  width: 256px;
  text-align: center;
  margin: 50px 50px;
}

.staffs-admin__admCard img {
  width: 180px;
}

.staffs-admin__title {
  margin-top: 15px;
}

.staffs-admin__titleSub {
  color: #e0e000;
}

.staffs-admin__admIntro {
  text-align: left;
  line-height: 1.3rem;
  margin-top: 10px;
}

.adminCard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.scroll-to-top {
  width: 40px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.review {
  text-align: center;
  width: 95%;
  margin: 15px auto;
  padding-bottom: 20px;
}

.review h1 {
  display: inline-block;
  position: relative;
  font-family: TitilliumWeb-Bold;
}

.review h1:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 40%;
  left: calc(50% - 20%);
  background: #c7c719;
}

.review__cont {
  text-align: left;
  padding-top: 30px;
}

.review__cont:before {
  content: "";
  background: url(../assets/icons/quote-left-solid.svg) no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}

.review__cont:after {
  content: "";
  background: url(../assets/icons/quote-right-solid.svg) no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-left: 5px;
}

.review-card {
  margin: 50px auto;
  padding: 0 20px;
}

.patchCard {
  color: #323232;
  width: 300px;
  height: 400px;
  border: 0.05rem solid black;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 0 auto;
}

.newsSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */